.journal-editor-action {
    height: 42px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px #ccc solid;
    border-bottom: 0;
}

.journal-loading {
    height: 100%;
    background-color: #ffffff;
    overflow: hidden;
    .toolbar {
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 8px;
        height: 42px;
        .loading {
            float: left;
            margin: 1px 4px;
            width: 20px;
            height: 22px;
        }
        .toolbar-divider {
            float: left;
            margin-top: 3px;
            height: 20px;
        }
    }
    .editor {
        padding: 12px 15px;
        height: calc(~"100% - 42px");
        border: 1px solid #ccc;
        .date {
            margin-top: 5px;
            height: 3em;
            width: 15em;
        }
        .break {
            height: 2em;
        }
        .heading {
            height: 2em;
            width: 10em;
            margin-top: 7px;
        }
        .attribute,
        .line-1,
        .line-2,
        .line-3,
        .line-4 {
            height: 1.5em;
            margin-top: 7px;
        }
        .attribute {
            width: 6em;
        }
        .line-1 {
            width: 87%;
        }
        .line-2 {
            width: 67%;
        }
        .line-3 {
            width: 34%;
        }
        .line-4 {
            width: 77%;
        }
    }
    .journal-loading-block {
        border-radius: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(207, 216, 220, 0.2)), color-stop(rgba(207, 216, 220, 0.4)), to(rgba(207, 216, 220, 0.2)));
        background: -webkit-linear-gradient(left, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
        background: linear-gradient(90deg, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
        -webkit-animation: card-loading 1.4s ease infinite;
        animation: card-loading 1.4s ease infinite;
        background-size: 600% 600%;
    }
    @-webkit-keyframes card-loading {
        0%,
        100% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
    @keyframes card-loading {
        0%,
        100% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }
}

.journal-container {
    height: 100%;
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    .ql-toolbar button.custom-icon {
        font-size: 16px;
        padding-top: 0;
    }
    .toolbar-divider {
        float: left;
        margin-top: 3px;
        height: 20px;
    }
}

@toolbar-height: 42px;
#editor-toolbar {
    height: 42px;
    background-color: #ffffff;
}

.custom-section-name {
    &.ant-dropdown-menu-item:hover {
        background-color: #ffffff;
    }
    cursor: default;
    padding-top: 10px;
    padding-bottom: 10px;
    .ant-form-item {
        margin-bottom: 0;
    }
}

.previous-section-title .ant-dropdown-menu-item-group-list {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

.journal-editor.quill {
    height: calc(~"100% - "@toolbar-height);
    .ql-container .ql-editor {
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
}