@content-width: 800px;
@small-screen-width: 95%;
@transition-width: (@content-width / (@small-screen-width / 100));
@padding: 50px;
.start-screen .start-import {
    @media screen and (max-width: @transition-width) {
        width: @small-screen-width;
    }
    width: @content-width;
    padding-top: @padding;
    padding-bottom: @padding;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    h1 {
        text-align: center;
        @media screen and (min-width: 650px) {
            font-size: 3.5em;
        }
        color: rgba(255, 255, 255, 0.9);
    }
    .ant-form-item-label {
        font-size: 16px;
    }
    button:first-child {
        margin-right: 10px;
        @media screen and (max-width: 330px) {
            margin-right: 5px;
        }
    }
    button:last-child {
        @media screen and (max-width: 330px) {
            margin-left: 5px;
        }
        margin-left: 10px;
    }
}