@unlock-width: 400px;
@content-width: 800px;
@small-screen-width: 95%;
@transition-width: (@content-width / (@small-screen-width / 100));
@unlock-transition-width: (@unlock-width / (@small-screen-width / 100));
@padding: 50px;
.passphrase-screen {
    width: 100%;
    height: 100%;
    background-color: @layout-body-background;
    .passphrase-content {
        &:not(.unlock) {
            @media screen and (max-width: @transition-width) {
                width: @small-screen-width;
            }
            width: @content-width;
        }
        &.unlock {
            @media screen and (max-width: @unlock-transition-width) {
                width: @small-screen-width;
            }
            width: @unlock-width;
        }
        padding-top: @padding;
        padding-bottom: @padding;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        overflow-y: auto;
        h1 {
            text-align: center;
            font-size: 3.5em;
            color: rgba(255, 255, 255, 0.9);
        }
        .ant-card {
            overflow-y: auto;
        }
        button {
            margin-bottom: 10px;
        }
        button:first-child {
            margin-right: 10px;
        }
    }
}