@import '../ant-theme-vars.less';
@content-width: 1200px;
@small-screen-width: 95%;
@transition-width: (@content-width / (@small-screen-width / 100));
@middle-height: 740px;
@small-height: 570px;
.start-screen {
    width: 100%;
    height: 100%;
    background-color: @layout-body-background;
    .start-options {
        h1 {
            text-align: center;
            @media screen and (max-width: @transition-width) and (max-height: @middle-height) {
                font-size: 3em;
            }
            font-size: 3.5em;
            color: rgba(255, 255, 255, 0.9);
        }
        @media screen and (max-width: @transition-width) {
            width: @small-screen-width;
        }
        width: @content-width;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        .divider {
            @media screen and (min-width: @content-width) {
                width: 1px;
                margin-right: auto;
                margin-left: auto;
                .ant-divider.ant-divider-vertical {
                    margin: 0;
                }
            }
            .ant-divider-horizontal {
                margin: 10px 0;
            }
        }
        .start-card {
            h2 {
                text-align: center;
                @media screen and (max-width: @transition-width) and (max-height: @middle-height) {
                    font-size: 1.8em;
                }
                @media screen and (max-width: @transition-width) and (max-height: @small-height) {
                    font-size: 1.6em;
                }
                font-size: 2.5em;
            }
            .start-card-icon {
                @media screen and (max-width: @transition-width) and (max-height: @middle-height) {
                    font-size: 2em;
                }
                @media screen and (max-width: @transition-width) and (max-height: @small-height) {
                    font-size: 1.5em;
                }
                font-size: 3.5em;
                text-align: center;
                padding: 20px;
            }
            .start-card-button {
                margin-right: auto;
                margin-left: auto;
                width: 260px;
                button.ant-btn-lg {
                    @media screen and (max-width: @transition-width) and (max-height: @middle-height) {
                        height: 40px;
                        font-size: 1.2em;
                    }
                    width: 260px;
                    padding: 0 15px;
                    font-size: 1.5em;
                    border-radius: 4px;
                    height: 50px;
                }
            }
        }
    }
}