@import "../ant-theme-vars.less";
#app {
    height: 100%;
    &>.layout {
        min-height: 100%;
    }
}

.exception-page {
    padding-top: 50px;
    text-align: center;
    color: #ffffff;
    h1 {
        font-size: 3em;
        color: #ffffff;
        i {
            font-size: 2em;
        }
    }
    p {
        @media screen and (max-width: 500px) {
            &.with-small-text {
                font-size: 1.5em;
            }
        }
        @media screen and (max-width: 350px) {
            &.with-small-text {
                font-size: 1.2em;
            }
        }
        font-size: 2em;
    }
    button {
        margin-right: 10px;
        margin-left: 10px;
    }
}

.ant-card-actions>li>span a.link-danger:hover,
a.link-danger:hover {
    color: @error-color;
}

* {
    outline: none;
}