@import '../ant-theme-vars.less';
@size: 50px;
@i-size: @size * 0.45;
.loading-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    .spinner .ant-spin-dot {
        width: @size;
        height: @size;
        i {
            width: @i-size;
            height: @i-size;
        }
    }
}