.chart-container {
    >.title {
        display: none;
    }
    .graphics {
        margin-top: 0 !important;
    }
    .graph-stats-container {
        margin-bottom: 0 !important;
        padding-bottom: 0;
    }
}