.popup-datepicker-input {
    width: 1px;
    height: 1px;
    .ant-calendar-picker-clear {
        display: none;
    }
    .ant-calendar-picker {
        input.ant-input.ant-calendar-picker-input {
            border: 0;
            height: 0;
            width: 0;
            padding: 0;
        }
        span.ant-calendar-picker-icon {
            display: none;
        }
    }
}

.no-input.popup-datepicker-calendar .ant-calendar {
    .ant-calendar-input-wrap {
        display: none;
    }
}