.journal-list {
    height: 100%;
    .action-toolbar {
        button {
            margin-right: 5px;
        }
        padding-bottom: 10px;
    }
    ul.ant-card-actions li span {
        width: 100%;
        .journal-action {
            display: block;
            width: 100%;
            font-size: 1.5em;
        }
    }
    .journal-card {
        .ant-card-body {
            padding: 0;
        }
        width: 100%;
        margin-bottom: 15px;
    }
}