.journal-duplicates {
    height: 100%;
    h1 {
        color: rgba(255, 255, 255, 0.85);
    }
    .journal-card {
        width: 100%;
        margin-bottom: 15px;
        button {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.duplicate-modal {
    .quill {
        height: 100%;
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 2em;
        }
        p {
            font-size: 1.5em;
        }
    }
    .ql-toolbar.ql-snow {
        display: none;
    }
    .ql-toolbar.ql-snow+.ql-container.ql-snow {
        border-top: 1px solid #ccc;
    }
}