// ant default vars
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
@primary-color : #44a535;
@info-color : #00a8ff;
@success-color : #44bd32;
@processing-color : @primary-color;
@error-color : #e84118;
@highlight-color : #e84118;
@warning-color : #fbc531;
@normal-color : #d9d9d9;
@layout-body-background : #53913e; //#63bc44;
@layout-header-background : #3e6f2e;
// Breadcrumb
@breadcrumb-base-color: rgba(255, 255, 255, 0.8);
@breadcrumb-last-item-color: rgb(255, 255, 255);
@breadcrumb-link-color: @breadcrumb-base-color;
@breadcrumb-separator-color: @breadcrumb-base-color;