@content-width: 1200px;
@small-screen-width: 95%;
@transition-width: (@content-width / (@small-screen-width / 100));
@sm-size: 576px;
.layout {
    .ant-layout-header {
        padding: 0;
    }
    .header-content {
        @media screen and (max-width: @transition-width) {
            width: @small-screen-width;
        }
        width: @content-width;
        margin-left: auto;
        margin-right: auto;
        .header-logo {
            @media screen and (max-width: @sm-size) {
                width: 40px;
                background: url(/assets/logo.png) no-repeat center;
                background-size: 100% 100%;
                margin-right: 5px;
            }
            @media screen and (max-width: 359px) {
                display: none;
            }
            width: 160px;
            height: 40px;
            background: url(/assets/logo-text.png) no-repeat center;
            background-size: 100% 100%;
            margin-top: 8px;
            margin-right: 15px;
            float: left;
        }
        .settings {
            cursor: pointer;
        }
    }
}

.header-settings-menu {
    .ant-dropdown-menu-item {
        padding: 10px 20px;
        font-size: 1.1em;
    }
}

.layout .page-content {
    .breadcrumbs {
        height: 21px;
        margin: 16px 0;
    } // transition to percentage based width
    @media screen and (max-width: @transition-width) {
        width: @small-screen-width;
    }
    width: @content-width;
    margin-left: auto;
    margin-right: auto;
}

.icon-rotate:hover {
    animation: icon-spin 0.2s linear forwards;
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg)
    }
}