.general-settings {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    h1 {
        color: rgba(255, 255, 255, 0.85);
    }
    >form>.ant-card:not(:last-child) {
        margin-bottom: 20px;
    }
    .ant-collapse-borderless {
        background: none;
    }
    .ant-collapse-item,
    .ant-collapse-borderless>.ant-collapse-item:last-child {
        background-color: #ffffff;
        border-radius: 4px;
        margin-bottom: 16px;
        overflow: hidden;
    }
    .ant-collapse-header {
        font-size: 1.4em;
    }
    button.add-evaluation-phrase {
        margin-top: 10px;
    }
    .setting-attribute.ant-card:first-child {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .setting-attribute.ant-card:last-child {
        border-bottom: 1px solid #e8e8e8;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
    .setting-attribute.ant-card {
        border-bottom: 0;
        border-radius: 0;
        padding: 12px;
        .ant-card-body {
            padding: 0;
        }
    }
    @s3: #44a535;
    @s2: #72AD34;
    @s1: #8DB233;
    @s0: #fbc531;
    @s-1: #EF6F21;
    @s-2: #EB551C;
    @s-3: #e84118;
    @lighten-val: 15%;
    .setting-attribute {
        .s-3 .ant-slider-handle.ant-tooltip-open {
            border-color: @s-3;
        }
        .s-3 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s-3, @lighten-val);
        }
        .s-2 .ant-slider-handle.ant-tooltip-open {
            border-color: @s-2;
        }
        .s-2 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s-2, @lighten-val);
        }
        .s-1 .ant-slider-handle.ant-tooltip-open {
            border-color: @s-1;
        }
        .s-1 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s-1, @lighten-val);
        }
        .s0 .ant-slider-handle.ant-tooltip-open {
            border-color: @s0;
        }
        .s0 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s0, @lighten-val);
        }
        .s1 .ant-slider-handle.ant-tooltip-open {
            border-color: @s1;
        }
        .s1 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s1, @lighten-val);
        }
        .s2 .ant-slider-handle.ant-tooltip-open {
            border-color: @s2;
        }
        .s2 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s2, @lighten-val);
        }
        .s3 .ant-slider-handle.ant-tooltip-open {
            border-color: @s3;
        }
        .s3 .ant-slider-handle:not(.ant-tooltip-open) {
            border-color: lighten(@s3, @lighten-val);
        }
        .ant-slider-handle {
            border: solid 5px;
        }
        .remove-button {
            float: left;
        }
        .attribute-name {
            float: left;
            width: calc(~'100% - 42px');
            margin-left: 10px;
        }
    }
    .change-passphrase {
        .ant-collapse-item {
            border-bottom: 0;
            margin-bottom: 0 !important;
            .ant-collapse-content {
                padding: 0;
                >.ant-collapse-content-box {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
        .ant-collapse-header {
            display: none;
        }
    }
}